<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-v3.1.1.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="text-center">Todo Application</div>
            <ul>
                <li><a href="/api/todo/v1/get?id=1">Get todo by Id</a></li>
                <li><a href="/files/v1/getAll">Get All files</a></li>
                <li><a href="/files/v1/get?name=todo">Get text file</a></li>
            </ul>
        </div>
    </div>
</body>
</html>