
---- Temp path above this line ----

*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

pvt/
uploaded_files/

todo-app/
yard-app/

java/step1/.idea/*

java/todo/.idea/*
java/todo/src/main/main.iml
java/todo/src/test/test.iml
java/todo/todo.iml
java/todo/target/
java/todo/meta-data/todo-*.jar

java/yard/.idea/*
java/yard/src/main/main.iml
java/yard/src/test/test.iml
java/yard/yard.iml
java/yard/target/
java/yard/meta-data/yard-*.jar

java/example/.idea/
java/example/example.iml


java/*.class
java/*/*.class
java/*/*/*.class
java/*/*/*/*.class
java/*/*/*/*/*.class
java/*/*/*/*/*/*.class
