*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out

*/*/node_modules/*


.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

pvt/
todo-app/
todo-app*

java/todo/.idea/*
java/todo/src/main/main.iml
java/todo/src/test/test.iml
java/todo/todo.iml
java/todo/target/
java/todo/meta-data/todo-*.jar

java/example/.idea/
java/example/example.iml


java/.class
java/*/.class
java/*/*/.class
java/*/*/*/.class
java/*/*/*/*/.class
java/*/*/*/*/*/.class