
---- Temp path above this line ----

nodejs/node_modules/
nodejs/package-lock.json

reactjs/reactapp/node_modules/
reactjs/reactapp/build/
reactjs/reactapp/package-lock.json

react-auth-app/node_modules/

*/a.out
*/*/a.out
*/*/*/a.out
*/*/*/*/a.out

.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

pvt/
uploaded_files/

todo-app/
todo-app-old/
todo-nocommit/
yard-app/
yard-app-zip/
app-vb/
app-data-entry/
app-station-data/
pdf-app/
web-app/
comm-app/

java/step1/.idea/
java/step1/out/
java/step1/target/
java/step1/step1.iml
java/step1/step1 (1).iml
java/step1/step1 (2).iml


java/step2/.idea/
java/step2/target/
java/step2/step2.iml



ftp-app/



java/step5/.idea/
java/step5/out/
java/step5/step5.iml

java/step7/.idea/
java/step7/out/
java/step7/step7.iml

java/todo/.idea/
java/todo/src/main/main.iml
java/todo/src/test/test.iml
java/todo/todo.iml
java/todo/target/
java/todo/meta-data/todo-*.jar

java/yard/.idea/
java/yard/src/main/main.iml
java/yard/src/test/test.iml
java/yard/yard.iml
java/yard/target/
java/yard/meta-data/yard-*.jar
java/yard/readme.pdf

java/pdf/.idea/
java/pdf/src/main/main.iml
java/pdf/src/test/test.iml
java/pdf/pdf.iml
java/pdf/target/
java/pdf/meta-data/pdf-*.jar
java/pdf/meta-data/pdf-dir/
java/pdf/readme.pdf

java/WebApp/.idea/
java/WebApp/WebApp.iml
java/WebApp/target/
java/WebApp/meta-data/WebApp-*.jar

java/mavenProject/.idea/
java/mavenProject/mavenProject.iml
java/mavenProject/target/

java/mavenProjectAnnotation/.idea/
java/mavenProjectAnnotation/mavenProjectAnnotation.iml
java/mavenProjectAnnotation/target/


java/Hibernate/.idea/
java/Hibernate/target/
java/Hibernate/Hibernate.iml
java/Hibernate/dependency-reduced-pom.xml


java/Jdbc/.idea/
java/Jdbc/Jdbc.iml
java/Jdbc/target/


java/example/.idea/
java/example/example.iml

java/bridge/.idea/
java/bridge/bridge.iml
java/bridge/target/

java/Communication/.idea/
java/Communication/Communication.iml
java/Communication/target/
java/Communication/meta-data/Communication-*-SNAPSHOT.jar


java/*.class
java/*/*.class
java/*/*/*.class
java/*/*/*/*.class
java/*/*/*/*/*.class
java/*/*/*/*/*/*.class


python/*/*/*/*/__pycache__/
python/*/*/*/*/__pycache__/
python/*/*/*/*/__pycache__/

