<div class="content">
	<form action="/email">
		<table>
			<tr><td><label>Name</label></td>
			<td><input type="text" name="name" value="<?php echo $this->from_name; ?>"></td></tr>
			<tr><td></td><td><input type="submit" value="Submit"></td></tr>
			<tr style="display: none;"><td>mail($to,$subject,$message,$headers);
					echo "Mail Sent.";</td></tr>
		</table>
	</form>
<?php
$to = "<?php echo $this->to_email; ?>";
$subject = "Test mail";
$message = "Hello! This is a simple email message.";
$headers = "From: <?php echo $this->from_email; ?>";
?>
</div>
