<!DOCTYPE html>
<html>
<head>
    <?php 
        echo $js["jquery"];
        echo $google_api["map"];
    ?>
    <title>Index</title>
</head>
<body>
    <div class="wrap-div"></div>
<script type="text/javascript">
var TEST_ID = "<?php echo $id ?>";
TEST_ID = TEST_ID == "00" ? "05" : TEST_ID;
var request = $.ajax({
    url: "/test/html_view/"+TEST_ID,
    type: "GET"
});
request.done(function(response) {
    $("body").find(".wrap-div").html(response);
    //init();
});
</script>
<?php echo $js["less_min"]; ?>
</body>
</html>