.custom-dropdown {
    appearance: none;
    background: none;
}
.day-SUN {
    background-color: #ffeeba;
}
.day-nh {
    background-color: #f5c6cb;
}
.day-ph {
    background-color: #c3e6cb;
}
.APP-COMPONENT.container.entry,
.APP-COMPONENT.container.update,
.APP-COMPONENT.container.summary {
    max-width: 100%;
}
.APP-COMPONENT.add_field_report .SELECT-FILTER {
    text-align: center;
}
.APP-COMPONENT.add_field_report .SELECT-FILTER table {
    display: inline;
}
.APP-COMPONENT.add_field_report .SELECT-FILTER [name="list3-select"],
.APP-COMPONENT.add_field_report .SELECT-FILTER [name="filter-reload"],
.APP-COMPONENT.add_field_report .SELECT-FILTER [name="footer-filter-toggle"],
.APP-COMPONENT.add_field_report .SELECT-FILTER-FOOTER,
.APP-COMPONENT.add_field_report .PAGE-FILTER,
.APP-COMPONENT.custom_dbview .SELECT-FILTER [name="list3-select"],
.APP-COMPONENT.custom_dbview .PAGE-FILTER {
    display: none;
}
.APP-COMPONENT.custom-table-bordered .PAGE-FIELDS table > thead > tr > th,
.APP-COMPONENT.custom-table-bordered .PAGE-FIELDS table > thead > tr > td,
.APP-COMPONENT.custom-table-bordered .PAGE-FIELDS table > tbody > tr > th,
.APP-COMPONENT.custom-table-bordered .PAGE-FIELDS table > tbody > tr > td  {
    border: 1px solid;
}
select.form-control {
    min-width: 120px;
}
table.table-padded-px-5 > thead > tr > th,
table.table-padded-px-5 > thead > tr > td,
table.table-padded-px-5 > tbody > tr > th,
table.table-padded-px-5 > tbody > tr > td {
    padding: 1px;
    word-break: break-all;
    vertical-align: top;
}
.form-div > div {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
