.upload-form-div {
    border: 1px solid #777;
    padding: 10px;
    width: 420px;
}
.APP-COMPONENT.displaySupplyStatus1 .SELECT-FILTER [name="filter-reload"],
.APP-COMPONENT.displaySupplyStatus1 button[name="reload"] {
    display: none;
}
.upload_file.heading_field {
    display: none;
}
