.upload_file.heading_field {
    display: none;
}
.upload-file-form-div > div {
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 400px;
}
.APP-COMPONENT.displaySupplyStatus1 .SELECT-FILTER [name="filter-reload"],
.APP-COMPONENT.displaySupplyStatus1 button[name="reload"] {
    display: none;
}
button[name="view_file.unique_id"] {
    display: none;
}
div.file_details {
    min-width: 300px;
}
