.track-plan-app-heading {
    padding-top: 20px;
}
.toggle-click-3 .SELECT-FILTER,
.toggle-click-3 .after-login-link {
    display: none;
}
.track-plan-tr {
    padding: 0;
}
.track-plan-td {
    font-family: none;
    line-height: 1;
    padding: 0;
    position: relative;
}
.track-plan-td span,
.track-plan-td input {
    font-family: system-ui;
}
.track-plan .img-text,
.track-plan-v2 .img-text {
    position: absolute;
    font-size: 10px;
}
.edit-image .img-text {
    display: block;
}
.track-plan .img-text-bottom,
.track-plan-v2 .img-text-bottom {
    bottom: 0;
    left: 0;
}
.track-plan .img-text-top,
.track-plan-v2 .img-text-top {
    left: 0;
}
.track-plan .track-plan-td.img-text-right .img-text,
.track-plan-v2 .track-plan-td.img-text-right .img-text {
    right: 0px;
    left: auto;
}
.track-plan .track-plan-td.img-text-center-top .img-text,
.track-plan-v2 .track-plan-td.img-text-center-top .img-text {
    bottom: 12px;
}
.edit-image .track-plan-td,
.track-plan-v2 .track-plan-td {
    border: 1px solid #00f;
}
.track-plan-input {
    display: block;
    width: 32px;
    font-size: 10px;
}
.fs-10px .img-text {
    font-size: 10px;
}
.fs-16px .img-text {
    font-size: 16px;
}
