<html>
    <head>
        <title>Gothons Of Planet Percal #25</title>
    </head>
<body>
<div>
	<ul>
		<li><a href="http://ruby.learncodethehardway.org/book/ex51.html">Sanitra tutorial</a></li>
		<li><a href="http://www.sinatrarb.com/intro.html">Sanitra introduction</a></li>
	</ul>
</div>
<p>
<em style="color: green; font-size: 2em;"><%= greeting %>, <%= @name %></em>
</p>

</body>
</html>