<h1>Hello World</h1>
<a target="_blank" href="http://guides.rubyonrails.org/getting_started.html">Getting Started</a>
<div><span></span></div>
<ul style="list-style-type: none;">
	<li><b>Custom Class Bellow....</b></li>
</ul>
<ol>
	<li>Id : <%= @c.id %></li>
	<li>Name : <%= @c.name %></li>
</ol>