body.theme-green {
    background-color: #8ab794;
    color: #eee;
}
body.theme-grey {
    background-color: #eee;
}
.back-img{
    height: 20px;
    margin: 0px 5px 5px 0px;
}
.w-120px {
    width: 120px;
}
.table th,
.table td {
    padding: 4px;
}
.pr-10px {
    padding-right: 10px;
}
.bt-2px {
    border-top: 2px solid;
}
.bt-1p5px {
    border-top: 1.5px solid;
}
.nav-tabs a {
	cursor: pointer;
}
.nav-tabs .nav-link.current-page {
	color: #007bff;
	cursor: auto;
}
.nav-tabs .close-tab {
	border: 1px solid;
	border-radius: 50%;
	opacity: 0.5;
}
.nav-tabs .close-tab:hover {
	opacity: 1;
}
