.p-0 {
    padding: 0;
}
.p-5px {
    padding: 5px;
}
.p-10px {
    padding: 10px;
}
.pt-10px {
    padding-top: 10px;
}
.pt-25px {
    padding-top: 25px;
}
.pt-40px {
    padding-top: 40px;
}
.pl-5px {
    padding-left: 5px;
}
.pl-10px {
    padding-left: 10px;
}
.w-75px {
    width: 75px;
}
.w-55px {
    width: 55px;
}
.w-45px {
    width: 45px;
}
.w-40px {
    width: 40px;
}
.w-35px {
    width: 35px;
}
.table th, .table td {
    padding: 0.2rem;
}
.theme-grey{
    background-color: #eee;
}
.heading {
    border-bottom: 1.5px solid #ddd;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 1.2rem;
}
@media (max-width: 767px) {
    .heading {
        font-size: 0.9rem;
    }
}
@media (max-width: 360px) {
    .heading {
        font-size: 0.8rem;
    }
}
.loading {
    font-size: 3rem;
}
.dashboardRowDataByDate-username,
.dashboard-orderbydate-username {
    max-width: 120px;
    overflow: hidden;
}
.dashboardRowDataByDate-username:hover {
    overflow: visible;
    font-weight: 800;
}
.dashboard1stRow-fileinfo,
.dashboard1stRowByDate-fileinfo {
    min-width: 350px;
    width: 350px;
}
.dashboard .dashboard-s-no {
    width: 50px;
    padding: 2px;
    text-align: center;
}
.dashboard .dashboard-info-col {
    max-height: 600px;
    overflow: auto;
}
.dashboard .pdf-embed-td,
.dashboard .pdf-embed-td .pdf-view,
.dashboard .pdf-embed-td .pdf-view .pdf-embed,
.dashboard .pdf-embed-td .display-img {
    max-width: 780px;
}
.upload-file-form-div > div {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.pdf-view-link {
    padding-top: 0;
    padding-left: 0;
}
.pdf-delete-link {
    padding-top: 0;
    padding-bottom: 5px;
}
.pdf-embed-td {
    width: 60%;
}
.pdf-embed {
    width: 100%;
    height: 400px;
}
.pdf-view-link.disabled:hover {
    text-decoration: none;
}
