<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= javascript_include_tag "application" %>
  <style type="text/css">
  textarea{
  	height: 50px;
  }
  .hide{
  	display: none;
  }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
