.p-10px {
    padding: 10px;
}
.pt-10px {
    padding-top: 10px;
}
.pt-40px {
    padding-top: 40px;
}
.pl-10px {
    padding-left: 10px;
}
.theme-grey{
    background-color: #eee;
}
.heading {
    border-bottom: 1.5px solid #ddd;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.2rem;
}
.loading {
    font-size: 3rem;
}
.form-div > div {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}