.p-0 {
    padding: 0;
}
.p-10px {
    padding: 10px;
}
.pt-10px {
    padding-top: 10px;
}
.pt-40px {
    padding-top: 40px;
}
.pl-10px {
    padding-left: 10px;
}
.table th, .table td {
    padding: 0.2rem;
}
.theme-grey{
    background-color: #eee;
}
.heading {
    border-bottom: 1.5px solid #ddd;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.2rem;
}
.loading {
    font-size: 3rem;
}
.form-div > div {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
}
.pdf-view-link {
    padding-top: 0;
    padding-left: 0;
}
.pdf-embed-td {
    width: 60%;
}
.pdf-embed {
    width: 100%;
    height: 400px;
}
.pdf-view-link.disabled:hover {
    text-decoration: none;
}
