body {
    background-color: #A0A28DB0;
}
hr {
    border-color: #d2d2d2;
}
.container {
    width: 1450px;
}
.yard .table-html.display-domino > table > tbody > tr > td {
    border: 1px solid #0000aeff;
}
.yard .table-html td {
    text-align: center;
    width: 25px;
    height: 25px;
}
.yard .table-html td span,
.yard .table-html td button {
    font-size: 10px;
    line-height: 1;
}
.yard .btn {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: unset;
    color: #fff;
}
.yard .btn.red {
    background-color: #C7422C;
}
.yard .btn.blue {
    background-color: #0010ff87;
}
.yard .btn.green {
    background-color: #17dc2378;
}
.yard .btn.yellow {
    background-color: #eaaf2e;
}
.yard .btn.slat {
    background-color: #00ffc382;
}
.yard .btn.pink {
    background-color: #a300ff36;
}
.yard .tpr .badge {
    top: 0px;
    height: 14px;
    width: 23px;
    border-width: 0;
    border-style: solid;
    border-radius: 2px;
}
.yard .tpr.btn-danger span {
    color: #fff;
    background-color: #FB7573;
}
.yard .tpr.btn-warning span {
    color: #555;
    background-color: #ECEB57;
}
.signal.green.active {
    background-color: #0f0;
}
.signal.yellow.active {
    background-color: #ff0;
}
.signal.red.active {
    background-color: #f00;
}
.yard .tpr.circle .badge {
    height: auto;
    width: auto;
    border-radius: 10px;
}
.yard .signal-no {
    font-size: 14px;
    font-weight: 1000;
    color: #0b0b0b;
}
.yard .signal.badge{
    min-width: 10px;
    padding: 5px 9px;
    font-size: 11px;
}
.yard .help {
    margin-top: 20px;
}
.yard .open-point-right,
.yard .open-point-left {
    text-align: center;
    padding-bottom: 3px;
}
.yard .open-point-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.yard .open-point-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.yard .open-point-right span,
.yard .open-point-left span {
    font-size: 22px;
    color: #fff;
}
.yard .shunt {
    line-height: 0;
}
.yard .indication,
.yard .shunt span {
    padding: 4px;
    height: 10px;
    line-height: 0;
}
.yard .shunt span.active,
.yard .indication.active {
    color: #555;
    background-color: #ffff00;
}
.yard .btn-rotate {
    transform: rotate(-45deg);
    width: 25px;
    height: 14px;
}
.yard .btn-rotate span.badge {
    height: 5px;
    top: 4px;
}
.yard .btn-rotate.positive {
    transform: rotate(45deg);
}

/* Debugging style */
.yard.debug .btn,
.yard.debug td {
    width: 50px;
}
